@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* css custom properties */
:root {
  --primary: #171c2a;
  --secondary: #11141f;
  --tertiary: #1f222e;
  --dark: #0e0e12;
  --green: #52d794;
  --blue: #00b3bd;
  --light: #fff;
  --red: indianred;
}

/* common global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: 'Rajdhani', sans-serif;
  font-size: 62.5%;
  font-weight: 700;
}

body {
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  background-image: url('./assets/coming-soon-06.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.center {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

img {
  margin: 3rem 0;
}
